<!DOCTYPE html>
<html>
  <head>
    <title>story 7</title>
  </head>
<body>

{%for data in form_data%}
<form method="post">
    {% csrf_token %}
    <p>CONFIRMATION</p>
    <p>Are you sure you want to upload the following data?<br>
        Name: {{data.name}}<br>
        Status: {{data.status}}
    <input type="hidden" id="name" name="name" value="{{data.name}}"><br>
    <input type="hidden" id="status" name="status" value="{{data.status}}"><br><br>
    <input type="submit" value="Submit"><br>
    <a href='{% url "func_test:homepage"%}'>Cancel</a>
  </form> 
{%endfor%}

</body>
</html>
