<!DOCTYPE html>
<html>
  <head>
    <title>story 7</title>
  </head>
<body>


<form method="post">
  {% csrf_token %}
  <label for="name_data">Name: </label><br>
  <input type="text" id="name" name="name"><br>
  <label for="status_data">Status: </label><br>
  <input type="text" id="status" name="status"><br><br>
  <input type="submit" value="Submit">
</form> 

{%for data in datas%}
<p>{{data.name}}</p>
<p>{{data.status}}</p>
{%endfor%}



</body>
</html>
